<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
 	<% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="container">
	<div class="card text-center">
	  <div class="card-header">
	    Air Conditioner
	  </div>
	  <div class="card-body">
	    <a href="/remocon/aircon/on" class="btn btn-primary">ON</a>
	    <a href="/remocon/aircon/off" class="btn btn-secondary">OFF</a>
	  </div>
	</div>
	<div class="card text-center">
	  <div class="card-header">
	    Light
	  </div>
	  <div class="card-body">
	    <a href="/remocon/light/on" class="btn btn-primary">ON</a>
	    <a href="/remocon/light/off" class="btn btn-secondary">OFF</a>
	  </div>
	</div>
</div>

</body>
</html>
